/* РћРєРЅР° */
.modal_div {
	width: 444px; 
	height: 468px; /* Р Р°Р·РјРµСЂС‹ РґРѕР»Р¶РЅС‹ Р±С‹С‚СЊ С„РёРєСЃРёСЂРѕРІР°РЅС‹ */
	text-align:center;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* С‡С‚РѕР±С‹ РѕРєРЅРѕ Р±С‹Р»Рѕ РІ РІРёРґРёРјРѕР№ Р·РѕРЅРµ РІ Р»СЋР±РѕРј РјРµСЃС‚Рµ */
	top: 45%; /* РѕС‚СЃС‚СѓРїР°РµРј СЃРІРµСЂС…Сѓ 45%, РѕСЃС‚Р°Р»СЊРЅС‹Рµ 5% РїРѕРґРІРёРЅРµС‚ СЃРєСЂРёРїС‚ */
	left: 50%; /* РїРѕР»РѕРІРёРЅР° СЌРєСЂР°РЅР° СЃР»РµРІР° */
	margin-top: -150px;
	margin-left: -150px; /* С‚СѓС‚ РІСЃСЏ РјР°РіРёСЏ С†РµРЅС‚СЂРѕРІРєРё css, РѕС‚СЃС‚СѓРїР°РµРј РІР»РµРІРѕ Рё РІРІРµСЂС… РјРёРЅСѓСЃ РїРѕР»РѕРІРёРЅСѓ С€РёСЂРёРЅС‹ Рё РІС‹СЃРѕС‚С‹ СЃРѕРѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕ =) */
	display: none; /* РІ РѕР±С‹С‡РЅРѕРј СЃРѕСЃС‚РѕСЏРЅРёРё РѕРєРЅР° РЅРµ РґРѕР»Р¶РЅРѕ Р±С‹С‚СЊ */
	opacity: 0; /* РїРѕР»РЅРѕСЃС‚СЊСЋ РїСЂРѕР·СЂР°С‡РЅРѕ РґР»СЏ Р°РЅРёРјРёСЂРѕРІР°РЅРёСЏ */
	z-index: 5; /* РѕРєРЅРѕ РґРѕР»Р¶РЅРѕ Р±С‹С‚СЊ РЅР°РёР±РѕР»РµРµ Р±РѕР»СЊС€РµРј СЃР»РѕРµ */
	padding: 20px 10px;
}
.modal_div h3 {
	line-height: 45px; font-size: 20px; font-weight: normal;
}
.modal_div p {
	line-height: 27px; font-size: 12px; font-weight: normal;
}
.modal_div h6 {
	line-height: 18px; font-size: 9px; color:#CCC; font-weight: normal;
}
/* РљРЅРѕРїРєР° Р·Р°РєСЂС‹С‚СЊ РґР»СЏ С‚РµС… РєС‚Рѕ РІ С‚Р°РЅРєРµ) */
.modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* РџРѕРґР»РѕР¶РєР° */
#overlay {
	z-index: 3; /* РїРѕРґР»РѕР¶РєР° РґРѕР»Р¶РЅР° Р±С‹С‚СЊ РІС‹С€Рµ СЃР»РѕРµРІ СЌР»РµРјРµРЅС‚РѕРІ СЃР°Р№С‚Р°, РЅРѕ РЅРёР¶Рµ СЃР»РѕСЏ РјРѕРґР°Р»СЊРЅРѕРіРѕ РѕРєРЅР° */
	position: fixed; /* РІСЃРµРіРґР° РїРµСЂРµРєСЂС‹РІР°РµС‚ РІРµСЃСЊ СЃР°Р№С‚ */
	background-color: #000; /* С‡РµСЂРЅР°СЏ */
	opacity: 0.8; /* РЅРѕ РЅРµРјРЅРѕРіРѕ РїСЂРѕР·СЂР°С‡РЅР° */
	width: 100%; 
	height: 100%; /* СЂР°Р·РјРµСЂРѕРј РІРѕ РІРµСЃСЊ СЌРєСЂР°РЅ */
	top: 0; 
	left: 0; /* СЃРІРµСЂС…Сѓ Рё СЃР»РµРІР° 0, РѕР±СЏР·Р°С‚РµР»СЊРЅС‹Рµ СЃРІРѕР№СЃС‚РІР°! */
	cursor: pointer;
	display: none; /* РІ РѕР±С‹С‡РЅРѕРј СЃРѕСЃС‚РѕСЏРЅРёРё РµС‘ РЅРµС‚) */
}